body {
  background-color: #f1d4d4;
  color: #222;
  line-height: 1.5;
  font-family: 'DM Mono', monospace;
  word-spacing: 2pt;
  padding-left: 5%;
  padding-right: 5%;
}
h1,
h2,
h3,
h4 {
  color: #132743;
  font-family: ubuntu;
  text-align: left;
}
hr {
  border-style: dotted;
  color: #19d3da;
  margin: 2rem auto;
  border-width: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
  border-bottom: 7px solid lightcoral;
  border-left: 4px solid lightblue;
  border-right: 4px solid lightblue;
  border-radius: 30px;
  align-self: center;
  font-size: 2.2rem;
  color: #132743;
  text-transform: uppercase;
}
.task4 {
  text-align: center;
}
.task6 {
  text-align: center;
}
p {
  font-size: 1.2rem;
  justify-content: center;
}

.task6 table,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
  align-items: center;
}
.task6 th,
td {
  padding: 0.7rem;
  text-align: center;
}

.task7 img {
  width: 100%;
  border-radius: 8px;
}
.task7 td {
  height: 40%;
  margin: 12px 12px 12px 12px;
  border-radius: 8px;
  width: 40%;
  text-align: left;
}
.task7 table {
  border-spacing: 10px;
}
.task7 li {
  font-size: 14px;
}
.task1 p {
  font-size: 13px;
  text-align: right;
  margin-right: 2%;
  font-weight: normal;
}

/* Left page */

a {
  text-decoration: none;
  color: #222222;
}

/* Right page */
